certifi==2024.2.2
charset-normalizer==3.3.2
exceptiongroup==1.2.1
idna==3.7
iniconfig==2.0.0
packaging==24.0
pexpect==4.9.0
pluggy==1.5.0
ptyprocess==0.7.0
pyCLI==2.0.3
pytest==8.2.1
requests==2.32.2
tomli==2.0.1
urllib3==2.2.1
